.prns h1 {
    color: var(--brown);
    font-size: 20px;
    margin-bottom: 1rem;
}

.prns h1 a {
      background-color: var(--pink);
      padding: 2px 5px;
      border-radius: 4px;
}
.prns p {
    position: relative;
    width: fit-content;
    margin-bottom: .5rem;
}
.prns p::before {
        position: absolute;
    content: "";
    background-color: var(--brown);
    opacity: .3;
    width: 5px;
    height: 5px;
    border-radius: 50px;
    top: 36%;
    bottom: 0;
    left: -15px;
    right: 100%;
    z-index: -1;
}

.prns p span {
    font-weight: 600;
}